[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aniso8601 = "*"
click = "*"
flask = "*"
flask-jwt = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
greenlet = "*"
gunicorn = "*"
itsdangerous = "*"
jinja2 = "*"
markupsafe = "*"
pyjwt = "*"
pytz = "*"
six = "*"
sqlalchemy = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.9"
