{% extends "base_webpages.html" %}
{% block title %}Home{% endblock %}
{% block contents %} <div>
        <div class="container-fluid" style="padding: 16px;">
            <div class="row">
                <div class="col-md-8">
                    {% for blog_post in post_list %}
                    <div class="card shadow-sm border_radius_16px" style="margin-bottom: 16px;">
                        <div class="card-body">
                            <h4 class="card-title text-right">{{ blog_post.title }}</h4>
                            <h6 class="text-muted card-subtitle mb-2 text-right">{{ blog_post.subtitle }}</h6>
                            <p class="card-text text-right text-justify">{{ blog_post.body_text | safe}}</p><a class="card-link" href="{{ blog_post.url }}">More</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    <div class="card border_radius_16px">
                        <div class="card-body">
                            <div class="row row-cols-1 justify-content-center">
                                <div class="col">
                                    <p>This is a Text</p>
                                    <p>This is a news</p>
                                    <p>This is a UNKNOWN</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>{% endblock %}